<div class="main-div">
    <mat-card class="mat-card">
        <mat-card-title>Rotas para funcionalidades</mat-card-title>
        <mat-card-subtitle>#Rotas</mat-card-subtitle>
        <mat-list>
            <a routerLink="/display-users">
                <mat-list-item>Display users</mat-list-item>
            </a>
            <a routerLink="/add-users">
                <mat-divider></mat-divider>
                <mat-list-item>Add users</mat-list-item>
            </a>
            <mat-divider></mat-divider>
            <a routerLink="/table-users">
                <mat-list-item>Update/Delete users</mat-list-item>
            </a>
        </mat-list>
    </mat-card>
</div>